body {
    background-color: lightgrey;
}

.card {
    color: rgb(41, 131, 98);
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;

}


.form-inline {
    color: rgb(41, 131, 98);
    margin-left: auto;
    margin-right: auto;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(41, 131, 98);
    color: white;
}

.btn.btn-primary {
    background-color: #3CBC8D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

